@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="row-layout master-view-container">
    <div class="column-layout group">
        <IgbList class="list" master_view-scope>
            <IgbListItem @onclick="@(e => Navigate("/home"))">
                <IgbAvatar Src="assets/Avatar13.png" slot="start" Shape="AvatarShape.Circle" class="avatar" master_view-scope></IgbAvatar>
                <div slot="title">Jane Doe</div>
                <div slot="subtitle">Sales Manager</div>
                <span slot="end" class="material-icons icon">
                    keyboard_arrow_down
                </span>
            </IgbListItem>
            <IgbListItem @onclick="@(e => Navigate("/home"))">
                <IgbAvatar Src="assets/Store_Icon_Small.svg" slot="start" class="avatar_1" master_view-scope></IgbAvatar>
                <div slot="title">Dashboard</div>
            </IgbListItem>
            <IgbListItem @onclick="@(e => Navigate("/products"))">
                <IgbAvatar Src="assets/Inventory_Icon_Small.svg" slot="start" class="avatar_1" master_view-scope></IgbAvatar>
                <div slot="title">Products</div>
            </IgbListItem>
            <IgbListItem @onclick="@(e => Navigate("/orders"))">
                <IgbAvatar Src="assets/Orders_Icon_Small.svg" slot="start" class="avatar_1" master_view-scope></IgbAvatar>
                <div slot="title">Orders</div>
            </IgbListItem>
            <IgbListItem @onclick="@(e => Navigate("/customers"))">
                <IgbAvatar Src="assets/Customers_Icon_Small.svg" slot="start" class="avatar_1" master_view-scope></IgbAvatar>
                <div slot="title">Customers</div>
            </IgbListItem>
            <IgbListItem @onclick="@(e => Navigate("/sales"))">
                <IgbAvatar Src="assets/Sales_Icon_Small.svg" slot="start" class="avatar_1" master_view-scope></IgbAvatar>
                <div slot="title">Sales</div>
            </IgbListItem>
            <IgbListItem @onclick="@(e => Navigate("/reports"))">
                <IgbAvatar Src="assets/Reports_Icon_Small.svg" slot="start" class="avatar_1" master_view-scope></IgbAvatar>
                <div slot="title">Reports</div>
            </IgbListItem>
        </IgbList>
        <div class="column-layout group_1">
            <img src="assets/InventoryMgmt_Logo.svg" class="image" />
        </div>
    </div>
    <div class="view-container">
        @Body
    </div>
</div>

@code {

    public void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
